@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* 
Cores da paleta

Azul escuro: #010b26
Azul medio: #54a1bf
Azul claro: #a6e4f1
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #222;
}

.layout {
  font-size: 1.8rem;
}
